<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Personen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="text-left">
        <h1>Lijst van personen</h1>
        <ul style="list-style-type: none;">
        	<li th:each="persoon : ${personen}">
        		<a th:href="@{/persoon.html(id=${persoon.id})}">
	   	     		<span th:text="${persoon.voornaam}">voornaam</span>
	   	     		<span th:text="${persoon.familienaam}">famillienaam</span>
	   	     	</a>
   	     	</li>
        </ul>
        <a th:href="@{nieuwePersoon.html}">Nieuwe persoon</a>
    </div><br/><br/>
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</div>
</body>
</html> 