<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welkom!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="text-left">
        <h1>Details van persoon</h1>
        <p><b>Id:</b> <span th:text="${klant.id}">id</span> </p>
        <p><b>Voornaam:</b> <span th:text="${klant.voornaam}">id</span> </p>
        <p><b>Familienaam:</b> <span th:text="${klant.familienaam}">id</span> </p>
        <p><b>E-mailadres:</b> <span th:text="${klant.emailadres}">id</span> </p>
        <p><b>Paswoord:</b> <span th:text="${klant.paswoord}">id</span> </p>
        <a th:href="@{/home.html}">Lijst van alle personen</a>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</div>
</body>
</html>